statemachine/openbanking-expenses-ingest.json
{
    "Comment": "Gets bank transactions from OpenBanking via GoCardless and exports them to a google sheet",
    "StartAt": "Get SSM Parameters",
    "States": {
      "Get SSM Parameters": {
        "Type": "Task",
        "Next": "Update API Credentials",
        "Parameters": {
          "Names": [
            "${AccessTokenParamName}",
            "${AccessTokenExpiresParamName}",
            "${RefreshTokenParamName}",
            "${RefreshTokenExpiresParamName}"
          ],
          "WithDecryption": true
        },
        "Resource": "arn:aws:states:::aws-sdk:ssm:getParameters",
        "ResultSelector": {
          "AccessToken": {
            "Value.$": "$.Parameters[0].Value",
            "Expires.$": "$.Parameters[1].Value"
          },
          "RefreshToken": {
            "Value.$": "$.Parameters[2].Value",
            "Expires.$": "$.Parameters[3].Value"
          }
        }
      },
      "Update API Credentials": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "FunctionName": "${UpdateApiCredentialsFunctionARN}:$LATEST",
          "Payload": {
            "AccessToken": {
              "Value.$": "$.AccessToken.Value",
              "Expires.$": "$.AccessToken.Expires"
            },
            "RefreshToken": {
                "Value.$": "$.RefreshToken.Value",
                "Expires.$": "$.RefreshToken.Expires"
            },
            "SecretIdParam": "${SecretIdParamName}",
            "SecretKeyParam": "${SecretKeyParamName}"
          }
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "Next": "Update SSM Params"
      },
      "Update SSM Params": {
        "Type": "Parallel",
        "End": true,
        "Branches": [
          {
            "StartAt": "Update Access Token",
            "States": {
              "Update Access Token": {
                "Type": "Task",
                "End": true,
                "Parameters": {
                  "Name": "${AccessTokenParamName}",
                  "Value.$": "$.AccessToken.Value",
                  "Type": "SecureString",
                  "KeyId": "${SsmKeyId}",
                  "Overwrite": true
                },
                "Resource": "arn:aws:states:::aws-sdk:ssm:putParameter"
              }
            }
          },
          {
            "StartAt": "Update Access Token Expiration",
            "States": {
              "Update Access Token Expiration": {
                "Type": "Task",
                "End": true,
                "Parameters": {
                  "Name": "${AccessTokenExpiresParamName}",
                  "Value.$": "States.Format('\"{}\"', $.AccessToken.Expires)",
                  "Type": "String",
                  "Overwrite": true
                },
                "Resource": "arn:aws:states:::aws-sdk:ssm:putParameter"
              }
            }
          },
          {
            "StartAt": "Update Refresh Token",
            "States": {
              "Update Refresh Token": {
                "Type": "Task",
                "End": true,
                "Parameters": {
                  "Name": "${RefreshTokenParamName}",
                  "Value.$": "$.RefreshToken.Value",
                  "Type": "SecureString",
                  "KeyId": "${SsmKeyId}",
                  "Overwrite": true
                },
                "Resource": "arn:aws:states:::aws-sdk:ssm:putParameter"
              }
            }
          },
          {
            "StartAt": "Update Refresh Token Expiration",
            "States": {
              "Update Refresh Token Expiration": {
                "Type": "Task",
                "End": true,
                "Parameters": {
                  "Name": "${RefreshTokenExpiresParamName}",
                  "Value.$": "States.Format('\"{}\"', $.RefreshToken.Expires)",
                  "Type": "String",
                  "Overwrite": true
                },
                "Resource": "arn:aws:states:::aws-sdk:ssm:putParameter"
              }
            }
          }
        ],
        "ResultPath": null,
        "OutputPath": "$.AccessToken"
      }
    }
  }